// ----------  cards
// ------------------------------------------------------------------------------

@use "../abstracts" as *;
@use "sass:color";

.cards {
    background-color: $white;
    width: 100%;
    height: 100%;
    max-width: 327px;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding:56px 0 ;


  @include media-breakpoint-up(md) {
    width: 100%;
    height: 682px;
    opacity: 1;
    padding: 80px 4px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1660px;
    width: 100%;
    min-height: 740px;
    opacity: 1;
    padding: 112px 230px;

  }
}

.cards__list {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  height: auto;
  opacity: 1;
  width: 100%;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    max-width: 720px;
    height: 522px;
    opacity: 1;
    margin:0 auto;
    gap: 32px;  
    padding:0;

  }

  @include media-breakpoint-up(lg){
    width:100%;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    height: 516px;
  
  }
}

// ------------------------------------------------------------------------------
// Card
// ------------------------------------------------------------------------------

.card {
  display: flex;
  flex-direction: column;
  max-width: 327px;
  width: 100%;
  height: 430px;
  opacity: 1;
  gap: 20;
  justify-content: space-between;
  border-radius: 20px;

  @include media-breakpoint-up(md){
    width: 218px;
    height: 522px;
    opacity: 1;
    gap: 20;
    justify-content: flex-start;
  }

   @include media-breakpoint-up(md){
    gap:10;

  }

  @include media-breakpoint-up(lg){
    width: 100%;
    height: 516px;
  }
}

// Image
.card__media {
  width: 327px;
  height: 210px;
  opacity: 1;
  border-radius: 12px;
  overflow: hidden;
  margin:0 auto;

  @include media-breakpoint-up(md){
    width: 100%;
    height: 170px;
    opacity: 1;
  }

    @include media-breakpoint-up(lg){
    width: 100%;
    height: 400px;
    opacity: 1;
  }

}

.card__image {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s ease;

  @include media-breakpoint-up(lg){
    height: 260px;
  }
  @include hover {
    transform: scale(1.04);
  }
}

// Content
.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  height: 170px;
  width: 100%;

  @include media-breakpoint-up(md){
    width: 100%;
    height: 266px;
    opacity: 1;
    gap: 4px;
    padding: 2px 0;


  }
  
}

.card__heading {
  color: $purple-light;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: "Bree Serif", sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

  @include media-breakpoint-up(md) {
    font-size: 22px;
    font-family: "Bree Serif", sans-serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    padding:20px 0 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: 24px;
    line-height: 24px;
  }
}

.card__body {
  color: $grey-dark;
  margin: 0;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
    padding:5px;
    overflow: hidden;

  @include media-breakpoint-up(md){
    -webkit-line-clamp: 7;
      padding:0;
  }

  @include media-breakpoint-up(lg) {
    -webkit-line-clamp: 4;
  }
}
// CTA
.card__cta {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: $purple;
  border-radius: 50px;
  color: $white;
  text-decoration: none;
  align-self: flex-start;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  justify-content: space-between;
  padding:5px 5px 5px 10px;
  width: 142px;
  height: 42px;

@include media-breakpoint-up(md){
  margin-top:40px;
}

  @include hover {
    background-color: rgba($purple, 0.9);
    border-color: $purple;
  }
}

.card__cta-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: $olive;
  background-image: url("../assets/images/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  flex-shrink: 0;
  font-size:16px;
  opacity: 1;
  border-radius: 20px;

}