// ----------  layout
// ------------------------------------------------------------------------------
@use "../abstracts" as *;

body {
	font-family: $font-default;
	font-size: 14px;
	font-weight: 400;
	color: $black;
}

.scroll-disabled {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.wrap {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0;
	width: 100%;

	@include media-breakpoint-up(md){
		padding: 0;
		height: auto;

	}

	@include media-breakpoint-up(lg){
		padding: 0;
		height: auto;
	}
}

.image {
	width: 100%;
	height: auto;
}

.divider {
  width: 100%;
  height: 6px;

  @include media-breakpoint-up(md){
	  width: 100%;
  height: 12px;
  }
}