// ----------  variables
// ------------------------------------------------------------------------------

$font-default: barlow, arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$orange: #f1592a;
$grey: #5b6770;
$purple: #5a4a8a;
$olive: #c8c87a;
$olive-light: #EAE8B3;
$purple-light: #6c5d99;
$site-colors: (
	'black': $black,
	'white': $white,
	'orange': $orange,
	'grey': $grey,
	'purple': $purple,
	'olive': $olive,
	'purple-light': $purple-light,
	'olive-light': $olive-light,
) !default;
$primary: $purple;
$secondary: $olive;
$text-color: $black;
$text-muted: $grey;
$border-color: rgba($olive, 0.12);

