// ----------  variables
// ------------------------------------------------------------------------------

$font-default: arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$orange: #f1592a;
$grey: #5b6770;
$site-colors: (
	'black': $black,
	'white': $white,
	'orange': $orange
) !default;

