// ----------  footer
// ------------------------------------------------------------------------------

@use "../abstracts" as *;

.footer {
	background-color: $orange;
	padding: 30px 0;
	color: $white;
}
